*{
    font-family: 'Roboto Slab';
    color: white;
}

.big-wrap{
    margin-top: 100px;
}

i{
    color: black;
}

body{
    background-image: url("../img/obxBz5.png");
}

.gsec-wrap{
    margin: auto;   
}

.gsec-img{
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.forover{
     position: relative;
    max-width: 160px;
    max-height: 160px;
    margin: auto;
}

.gsec{
    padding: 10px;
    color: black;
}

.categ{
    padding: 10px;
    color: black;
}

.team-img img{
    margin: auto;
    width: 100%;
    height: 100%;
}

.team-img{
    padding: 10px;
    width: 180px;
    height: 180px;
    margin: auto;
}

.team-wrap{
/*
    max-width: 200px;
    max-height: 200px;
*/
    margin: auto;
    
}

.grp{
    margin-top: 50px;
}

.team-text{
    padding: 10px;
    color: black;
}

.overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right:0; 
    bottom:0; 
    display: none; 
    background-color: rgba(0,0,0,0.5); 
    color: white;
    text-align: center;
}

.gsec-img:hover .overlay { display: block; }
.forover:hover .overlay { display: block; }

.name{
    text-align: center;
    margin-top: 70px;
}

.overlay a{
    color: white;
    margin: auto;
}

footer li{
                display: inline-block;
                list-style: none;
                text-align: center;
                padding: 20px 40px 20px;
/*                background-color: gray;*/
            }

footer ul{
    margin: 0px;
    
}

            footer a{
                color: white;
            }
            
            footer{
                text-align: center;
                background-color: black;
                margin-top: 100px;
            }
