@-webkit-keyframes planet1 {
  from {
    -webkit-transform: rotate(0deg) translateX(8vw) rotate(0deg);
            transform: rotate(00deg) translateX(8vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(8vw) rotate(-360deg);
            transform: rotate(360deg) translateX(8vw) rotate(-360deg);
  }
}
@keyframes planet1 {
  from {
    -webkit-transform: rotate(0deg) translateX(8vw) rotate(0deg);
            transform: rotate(0deg) translateX(8vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(8vw) rotate(-360deg);
            transform: rotate(360deg) translateX(8vw) rotate(-360deg);
  }
}

@-webkit-keyframes planet2 {
  from {
    -webkit-transform: rotate(0deg) translateX(14vw) rotate(0deg);
            transform: rotate(0deg) translateX(14vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(14vw) rotate(-360deg);
            transform: rotate(360deg) translateX(14vw) rotate(-360deg);
  }
}
@keyframes planet2 {
  from {
    -webkit-transform: rotate(0deg) translateX(14vw) rotate(0deg);
            transform: rotate(0deg) translateX(14vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(14vw) rotate(-360deg);
            transform: rotate(360deg) translateX(14vw) rotate(-360deg);
  }
}
@-webkit-keyframes planet3 {
  from {
    -webkit-transform: rotate(0deg) translateX(20vw) rotate(0deg);
            transform: rotate(0deg) translateX(20vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(20vw) rotate(-360deg);
            transform: rotate(360deg) translateX(20vw) rotate(-360deg);
  }
}
@keyframes planet3 {
  from {
    -webkit-transform: rotate(0deg) translateX(20vw) rotate(0deg);
            transform: rotate(0deg) translateX(20vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(20vw) rotate(-360deg);
            transform: rotate(360deg) translateX(20vw) rotate(-360deg);
  }
}
@-webkit-keyframes planet4 {
  from {
    -webkit-transform: rotate(0deg) translateX(30vw) rotate(0deg);
            transform: rotate(0deg) translateX(30vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30vw) rotate(-360deg);
            transform: rotate(360deg) translateX(30vw) rotate(-360deg);
  }
}
@keyframes planet4 {
  from {
    -webkit-transform: rotate(0deg) translateX(30vw) rotate(0deg);
            transform: rotate(0deg) translateX(30vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30vw) rotate(-360deg);
            transform: rotate(360deg) translateX(30vw) rotate(-360deg);
  }
}  
*, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  width: 14vw;
  height: 14vw;
  position: absolute;
  left: calc(50% - 7vw);
  top: calc(50% - 7vw);
  font-size: 14vw;
  line-height: 11.9vw;
  color: Orange;
}

h4 {
  width: 6vw;
  height: 6vw;
  position: absolute;
  top: calc(50% - 3vw);
  left: calc(50% - 3vw);
  font-size: 6vw;
  line-height: 6vw;
}

h4:nth-of-type(1) {
  color: IndianRed;
  -webkit-animation: planet1 11s linear infinite;
          animation: planet1 11s linear infinite;
}
h4:nth-of-type(2) {
  color: IndianRed;
  -webkit-animation: planet1 15s linear infinite;
          animation: planet1 15s linear infinite;
}

h4:nth-of-type(3) {
  color: MediumSeaGreen;
  -webkit-animation: planet1 19s linear infinite;
          animation: planet1 19s linear infinite;
}
h4:nth-of-type(4) {
  color: CadetBlue;
  -webkit-animation: planet2 10s linear infinite;
          animation: planet2 10s linear infinite;
}
h4:nth-of-type(5) {
  color: CadetBlue;
  -webkit-animation: planet2 11.5s linear infinite;
          animation: planet2 11.5s linear infinite;
}

h4:nth-of-type(6) {
  color: CadetBlue;
  -webkit-animation: planet2 13s linear infinite;
          animation: planet2 13s linear infinite;
}
h4:nth-of-type(7) {
  color: CadetBlue;
  -webkit-animation: planet2 15s linear infinite;
          animation: planet2 15s linear infinite;
}


h4:nth-of-type(8) {
  color: CadetBlue;
  -webkit-animation: planet1 10s linear infinite;
          animation: planet1 10s linear infinite;
}
h4:nth-of-type(9) {
  color: CadetBlue;
  -webkit-animation: planet2 9s linear infinite;
          animation: planet2 9s linear infinite;
}

h4:nth-of-type(10) {
  color: CadetBlue;
  -webkit-animation: planet2 8.5s linear infinite;
          animation: planet2 8.5s linear infinite;
}
h4:nth-of-type(11) {
  color: CadetBlue;
  -webkit-animation: planet3 20s linear infinite;
          animation: planet3 20s linear infinite;
}

h4:nth-of-type(12) {
  color: CadetBlue;
  -webkit-animation: planet4 12s linear infinite;
          animation: planet4 12s linear infinite;
}
h4:nth-of-type(13) {
  color: CadetBlue;
  -webkit-animation: planet4 15s linear infinite;
          animation: planet4 15s linear infinite;
}

h4:nth-of-type(14) {
  color: CadetBlue;
  -webkit-animation: planet4 18s linear infinite;
          animation: planet4 18s linear infinite;
}
h4:nth-of-type(15) {
  color: CadetBlue;
  -webkit-animation: planet4 20s linear infinite;
          animation: planet4 20s linear infinite;
}

/*body {
  background-image:"imgpack/background.png";
}*/
body::before {
  content: "";
  display: block;
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: calc(50% - 10vw);
  left: calc(50% - 10vw);
  border-radius: 50%;
  }


 /* box-shadow: 0 0 0 0.1vw #efbe7c,0 0 0 5.9vw AntiqueWhite, 0 0 0 6vw #efbe7c, 0 0 0 11.9vw AntiqueWhite, 0 0 0 12vw #efbe7c, 0 0 0 18.9vw AntiqueWhite, 0 0 0 19vw #efbe7c;
*/